// common shortcuts
// used by default
-var div = "div"
-var p = "p"
-var i = "i"
-var span = "span"
-var form = "form"
-var input = "input"
-var select = "select"
-var textarea = "textarea"
-var button = "button"
-var label = "label"
-var h1 = "h1"
-var h2 = "h2"
-var h3 = "h3"
-var h4 = "h4"
-var h5 = "h5"
-var h6 = "h6"
-var h7 = "h7"
-var h8 = "h8"
-var h9 = "h9"
